.shadow-xl-uniformationlogo {
  margin: 70px auto;
  background-color: #f1a518;
  width: 80%;
}

.drawer-uniformationlogo {
  position: relative;
  display: flex;
  grid-auto-columns: max-content auto;
  width: 10%;
  justify-content: center;
}

.uniformationlogocontainer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.min-h-screen-uniformationlogo {
  min-height: 50vh;
}

.w-96-akto {
  width: 60rem;
}

.uniformationlogo-figure {
  height: 30%;
  margin-top: 10px;
}
