.logouniformation {
  /* width: 70%; */
  margin: 30px 10px;
}

.shadow-xl-uniformation {
  /* margin-top: 150px; */
  width: 80%;
  margin: 100px auto;
  background-color: #fcb731;
}

.figureuniformation {
  /* width: 30%; */
  margin: auto;
}
