.shadow-xl-akto {
  /* margin-top: 150px; */
  width: 80%;
  margin: 150px auto;
  background-color: #1d4851;
  height: 50vh;
}

/* .card-body {
  color: black;
} */

.logoakto {
  margin-top: 100px;
  margin-left: 15px;
}

/* .card-actions {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  flex-wrap: nowrap;
} */
