.shadow-xl-akto {
  /* margin-top: 150px; */
  width: 80%;
  margin: 70px auto;
  background-color: #1d4851;
  height: 50vh;
}

/* .card-body {
  color: black;
} */

.logoakto {
  margin-top: 50px;
  /* margin-left: 15px; */
}

/* .card-actions {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  flex-wrap: nowrap;
} */

.drawer-akto {
  position: relative;
  display: flex;
  grid-auto-columns: max-content auto;
  width: 10%;
  /* margin-top: 50px; */
  justify-content: center;
}

.aktocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 70vh;  Prend toute la hauteur de la fenêtre */
  /* margin: auto; */
  /* justify-content: space-around; */
  flex-direction: column;
}

.min-h-screen-akto {
  min-height: 50vh;
}

.w-96-akto {
  width: 50rem;
}
