.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: auto;

  flex-direction: column;
  font-size: larger;
  font-weight: 500;
}

.card-body {
  color: white;
}
.card-body-home {
  display: flex;
  margin: 30px;
  justify-content: space-between;
  width: 30vw;
}

.card-title-home {
  font-size: 1.6rem;
}

.drawer {
  position: relative;
  display: flex;
  grid-auto-columns: max-content auto;
  width: 10%;
  margin-top: 50px;
  justify-content: center;
}
