.logoopcomobilite {
  /* width: 70%; */
  margin: 30px 10px;
}

.shadow-xl-opcomobilite {
  /* margin-top: 150px; */
  width: 80%;
  margin: 100px auto;
  background-color: #1fa68a;
}

.figureopcomobilite {
  width: 30%;
}
