.header {
  background-color: #4a5f70;
  display: flex;
  justify-content: space-between;
}

.m-1 {
  margin-top: 50px;
  margin-right: 150px;
}

.svghome {
  margin-top: 60px;
}

.text-pink-600 {
  --tw-text-opacity: 1;
  color: #e42535;
}

.bg-pink-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 247);
}
