.logoopcosante {
  /* width: 70%; */
  margin: 30px 10px;
}

.shadow-xl-opcosante {
  /* margin-top: 150px; */
  width: 80%;
  margin: 100px auto;
  background-color: #e63064;
}

.figureopcosante {
  width: 30%;
}
