.shadow-xl-opcosantelogo {
  margin: 70px auto;
  background-color: #e9537d;
  width: 80%;
}

img.logoopcosantelogo {
  width: 60%;
}

.drawer-opcosantelogo {
  position: relative;
  display: flex;
  grid-auto-columns: max-content auto;
  width: 10%;
  justify-content: center;
}

.opcosantelogocontainer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.min-h-screen-opcosantelogo {
  min-height: 50vh;
}

.w-96-akto {
  width: 50rem;
}

.opcosantelogo-figure {
  height: 30%;
  margin-top: 10px;
  margin-left: 90px;
}
