.shadow-xl-cnfptlogo {
  margin: 70px auto;
  background-color: #050088;
  width: 80%;
}

.drawer-cnfptlogo {
  position: relative;
  display: flex;
  grid-auto-columns: max-content auto;
  width: 10%;
  justify-content: center;
}

.cnfptlogocontainer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.min-h-screen-cnfptlogo {
  min-height: 50vh;
}

.w-96-akto {
  width: 60rem;
}

.cnfptlogo-figure {
  height: 30%;
  margin-top: 10px;
  margin-right: 30px;
}
