.logoopcoep {
  /* width: 60%; */
  margin: 30px 10px;
}

.shadow-xl-opcoep {
  /* margin-top: 150px; */
  width: 80%;
  margin: 100px auto;
  background-color: #008984;
}

.figureopcoep {
  width: 40%;
}
